In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train = pd.read_csv("D:\Machine Learning\Kaggle\Insurance\\insurance.csv")

In [3]:
train.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder

cols = ('age','sex', 'smoker', 'region')

for c in cols:
    lbl = LabelEncoder() 
    lbl.fit(list(train[c].values)) 
    train[c] = lbl.transform(list(train[c].values))
train.head()

   age  sex     bmi  children  smoker  region      charges
0    1    0  27.900         0       1       3  16884.92400
1    0    1  33.770         1       0       2   1725.55230
2   10    1  33.000         3       0       2   4449.46200
3   15    1  22.705         0       0       1  21984.47061
4   14    1  28.880         0       0       1   3866.85520

In [6]:
train.shape

(1338, 7)

In [7]:
from sklearn.preprocessing import StandardScaler
train['bmi'] = StandardScaler().fit_transform(train['bmi'].reshape(-1,1))

C:\Users\NIHIT\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

In [27]:
yLabels = train['charges']
from sklearn.model_selection import train_test_split, KFold, cross_val_score
X_train, X_validate, y_train, y_validate = train_test_split( train, yLabels, test_size=0.3)

In [28]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [29]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(X_train,y_train)
y_pred_test = LR.predict(train)
print(mean_absolute_error(y_pred_test,yLabels))
print(mean_squared_error(y_pred_test,yLabels))

4.898560215490738e-12
3.8073491490571366e-23

In [30]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
xgb.fit(X_train,y_train)
y_pred_test = xgb.predict(train)
print(mean_absolute_error(y_pred_test,yLabels))
print(mean_squared_error(y_pred_test,yLabels))

64.44048328529053
17520.006525520035